.header{
    grid-area: h;
    background-color: #33b78b;


}
.header img{
    width: 70px;



}
.loginBlock{
    font-size: larger;
    font-weight: bold;
    padding:20px;
    float: right;

}
.loginBlock a{
    color: aliceblue;
}
