.navbar {
    grid-area: n;
    background-color: #9b6c2d;
    text-align: center;
    padding: 10px;
}

.item {
    font-size: x-large;

    padding: 15px;
}
.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: #20bb56;
}
