.photo {

}

.photo input {
    margin-top: 30px;
    padding: 10px;
}

/*.photo input:hover{*/
/*    content: "";*/
/*    position: absolute;*/
/*  cursor: pointer;*/
/*}*/

.photo img {
    width: 100px;
    height: 100px;
    cursor: pointer;


}

.photo span:hover::before {
    position: absolute;
    content: "выбор фото по двойному щелчку...";
    width: 100px;
    height: 100px;
  top:100px;
    left: 300px;
    font-weight: bold;
    text-align: center;


}
